.container
{
	height: 100vh;
	background: url(../img/background-image.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	background-color: #444;
  	background-blend-mode: overlay;

}

main
{

	.mainbackground
	{

	}

	h1
	{
		font-size: 6vw;
		font-family: $red-rock;
		color: $jetti-white;
		font-weight: bold;
	}

	p
	{
		color: $jetti-white;
		font-weight: bold;
		font-size: 5vw;
		line-height: 6vw;
	}

	label
	{
		color: $jetti-white;
		font-weight: bold;
		font-size: 5vw;
		line-height: 6vw;
	}

	.button
	{
		border: 3px solid $jetti-white;
		background-color: $jetti-red;
		color: $jetti-white;
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: .5em;

		&:active
		{
			background-color: $jetti-red - 50;
		}

		&:hover
		{
			background-color: $jetti-red - 50;
		}

	}

	.ss-question-list
	{
	margin: 0 0 20px 0;
	}
	input, select
	{
		margin-bottom: .5em;
	}

	select
	{
		color: #444;
		font-size: 4vw;
	}

	input[type="submit"]
	{
		margin-top: 1em;
	}

	.socico
	{
		color: white;
		text-transform: uppercase;
		font-weight: 700;
	}

}