body
{
	background-color: #333;
	background: url(../img/background-image.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.container
{
	/*
	height: 100vh;
	width: auto;
	background: url(../img/background-image.jpg) no-repeat center center fixed;

	
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	background-color: #444;
  	background-blend-mode: overlay;

  	position: fixed !important;
	*/
}

main
{

	.mainbackground
	{

	}

	h1
	{
		font-size: 1.25em;
		font-family: $red-rock;
		color: $jetti-white;
		font-weight: bold;
	}

	p
	{
		color: $jetti-white;
		font-weight: bold;
		font-size: 1.15em;
		line-height: 1.25em;
	}

	label
	{
		color: $jetti-white;
		font-weight: bold;
		font-size: 1.15em;
		line-height: 1.25em;
	}

	.button
	{
		border: 3px solid $jetti-white;
		background-color: $jetti-red;
		color: $jetti-white;
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: .5em;

		&:active
		{
			background-color: $jetti-red - 50;
		}

		&:hover
		{
			background-color: $jetti-red - 50;
		}

	}

	.ss-question-list
	{
	margin: 0 0 20px 0;
	}
	input, select
	{
		margin-bottom: .5em;
	}

	select
	{
		color: #888;
		font-size: .75em;
	}

	input[type="submit"]
	{
		margin-top: 1em;
	}

	.socico
	{
		color: white;
		text-transform: uppercase;
		font-weight: 700;
	}

}

.button.disabled
{
	background-color: black;
	border: 3px solid red;
	margin-top: 1em;
}
.button
{
	margin-top: 1em;
}